@use 'variaveis' as *;
@use 'mixins' as *;

.btn--primary {
    @include btn-base;
    background-color: $color-secondary;
    color: $color-dark;

    &:hover,
    &:active {
        background-color: $color-primary;
        color: $color-white;
    }
}

.btn--secondary {
    @include btn-base;
    background-color: $color-primary;
    color: $color-white;

    &:hover,
    &:active {
        background-color: $color-dark;
        color: $color-white;
    }
}