@use "@/src/shared/styles/variables" as *;
@use "@/src/shared/styles/mixins" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: $space-3;

  @include tablet {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: $space-4;
  }

  @include desktop {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
