#root {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  gap: 2rem;
  justify-items: center;
  margin-top: 2rem;
}

h1 {
  color: #3F3F40;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
